services:
	# Router factory
	- App\Core\RouterFactory::createRouter

	# Repositories
	- implement: App\Repository\Interface\IAddonRepository
	  factory: App\Repository\AddonRepository
	- implement: App\Repository\Interface\IAuthorRepository
	  factory: App\Repository\AuthorRepository
	- implement: App\Repository\Interface\ICategoryRepository
	  factory: App\Repository\CategoryRepository
	- implement: App\Repository\Interface\IReviewRepository
	  factory: App\Repository\ReviewRepository
	- implement: App\Repository\Interface\ITagRepository
	  factory: App\Repository\TagRepository

	# Factories
	- App\Factory\AddonFactory
	- App\Factory\AddonTagFactory
	- App\Factory\AuthorFactory
	- App\Factory\CategoryFactory
	- App\Factory\ReviewFactory
	- App\Factory\ScreenshotFactory
	- App\Factory\TagFactory

	# Form Factories
	- App\Forms\Factory\AddonFormFactory
	- App\Forms\Factory\AuthorFormFactory
	- App\Forms\Factory\CategoryFormFactory
	- App\Forms\Factory\ReviewFormFactory
	- App\Forms\Factory\SearchFormFactory
	- App\Forms\Factory\TagFormFactory

	# Services
	- implement: App\Service\IAddonService
	  factory: App\Service\AddonService(%uploadsDir%)
	- implement: App\Service\IAuthorService
	  factory: App\Service\AuthorService
	- implement: App\Service\ICategoryService
	  factory: App\Service\CategoryService
	- implement: App\Service\IReviewService
	  factory: App\Service\ReviewService
	- implement: App\Service\ISearchService
	  factory: App\Service\SearchService
	- implement: App\Service\IStatisticsService
	  factory: App\Service\StatisticsService
	- implement: App\Service\ITagService
	  factory: App\Service\TagService

	# Facades
	- App\Facade\AddonFacade
	- App\Facade\AuthorFacade
	- App\Facade\CategoryFacade
	- App\Facade\ReviewFacade
	- App\Facade\SearchFacade
	- App\Facade\StatisticsFacade
	- App\Facade\TagFacade

	# DTO Mappers and Factories
	- App\Dto\Mapper\AddonDtoMapper
	- App\Dto\Factory\DtoFactory

search:
	- in: %appDir%
	  classes:
		- *Facade
		- *Factory
		- *Repository
		- *Service