# Laravel a Node.js ignore

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.env
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.backup
.env.local
.env.example
.phpunit.result.cache
.phpunit.cache
.phpstorm.meta.php
*.sqlite
*.sqlite3
*.log
*.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project
*.bak
*.tmp
*.swp
*.zip
*.tar.gz
*.tgz
*.lock
.DS_Store